NODE_ENV=development

# API / DB
PORT=3101
DATABASE_URL=postgresql://school:school@localhost:5432/tigilabs?schema=public
WEB_ORIGIN=http://localhost:3100

# JWT / Auth backend
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

# Web
NEXT_PUBLIC_API_URL=http://localhost:3101
